<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>
</head>

<body class="about-us-page">
  <!-- mobile menu -->
  <%- include('partials/mobile-menu.ejs') %>

    <div id="page">

      <!-- Header -->
      <%- include('partials/header.ejs') %>

        <!-- end header -->

        <!-- Navigation -->
        <%- include('partials/navbar.ejs') %>

          <!-- end nav -->



          <!-- main-container -->
          <div class="main-container col2-right-layout">
            <div class="main container">
              <div class="row">
                <section class="col-sm-12">
                  <div class="col-main">
                    <div class="page-title">
                      <h2>About Us</h2>
                    </div>
                    <div class="static-contain">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                        leap
                        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                        with
                        the
                        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                        publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum Lorem Ipsum is simply dummy text
                        of
                        the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        ever
                        since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum</p>
                      <br>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                        leap
                        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                        with
                        the
                        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                        publishing
                        software like Aldus PageMaker including versions of Lorem IpsumLorem Ipsum is simply dummy text
                        of
                        the
                        printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                        since
                        the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen
                        book. It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum</p>
                      <br>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                        leap
                        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                        with
                        the
                        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                        publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum</p>
                    </div>
                  </div>
                </section>

              </div>
            </div>
          </div>
          <!--End main-container -->


          <!-- Footer -->
          <%- include('partials/footer.ejs') %>
    </div>

    <!-- End Footer -->
    <%- include('partials/scripts.ejs') %>
</body>

</html>