<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>

</head>

<body class="category-page">
    <!-- mobile menu -->
    <%- include('partials/mobile-menu.ejs') %>

        <div id="page">
            <!-- Header -->
            <%- include('partials/header.ejs') %>

                <!-- end header -->

                <!-- Navigation -->

                <%- include('partials/navbar.ejs') %>

                    <!-- end nav -->


                    <!-- Main Container -->

                    <!-- Main Container -->
                    <section class="main-container ">
                        <div class="main container">
                            <div class="page-content">
                                <div class="account-login">
                                    <div class="col-md-3 col-sm-2"></div>
                                    <div class="col-md-6 col-sm-8">
                                        <div class="single-input p-bottom50 clearfix">
                                            <% if(errorMessage.length>0){%>
                                                <div class="alert alert-danger text-center">
                                                    <%=errorMessage %>
                                                </div>
                                                <%}%>
                                                    <form action="/changePassword" method="POST">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="check-title">
                                                                    <h4>Change Password</h4>
                                                                </div>
                                                            </div>


                                                            <div class="col-xs-12">
                                                                <label>Old Password</label>
                                                                <div class="input-text">
                                                                    <input type="password" name="oldPassword"
                                                                        class="form-control" required>
                                                                </div>
                                                            </div>

                                                            <div class="col-xs-12">
                                                                <label>New Password:</label>
                                                                <div class="input-text">
                                                                    <input type="password" name="password"
                                                                        class="form-control" required>
                                                                </div>
                                                            </div>


                                                            <div class="col-xs-12">
                                                                <div class="billing-checkbox">
                                                                    <div class="submit-text">
                                                                        <button class="button" type="submit">
                                                                            <i class="fa fa-user"></i>&nbsp;
                                                                            <span>Login</span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Main Container End -->


                    <!-- Footer -->
                    <%- include('partials/footer.ejs') %>
                        <a href="#" class="totop"> </a>
        </div>

        <!-- End Footer -->
        <!-- JS -->
        <%- include('partials/scripts.ejs') %>
</body>

</html>